/workerperf
/workeronlyperf
/netmapsend
/netmapproxy
/secrettest
/conftest
/pcapngworkeronly
/unittest
/CONF.LEX.INTERMEDIATE
/CONF.TAB.INTERMEDIATE
/conf.lex.c
/conf.lex.h
/conf.tab.c
/conf.tab.h
/intermediatestore/
/sizeof
